<aside>
	<div class="panel radius">
		<h3>Sidebar</h3>
		<p>
			En esta página, dedicaremos un espacio para dar a conocer recursos acerca del Portal de Biodiversidad de Guatemala, así como actividades realizadas por la comunidad de curadores, investigadores y estudiantes dedicados a la preservación y desarrollo de las colecciones biológicas de nuestro país.

			Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</p>
	</div>

  <img class="b30" src="LogoGitHub.jpg" alt="">


	<div class="border-dotted radius b30">
		<img src="SSHub_JPG.jpg" alt="Symbiota">
		<p class="text-left">
			El Portal de Biodiversidad fue generado con <a href="http://symbiota.org/es/"> Symbiota</a>.
		</p>
	</div>
</aside>
