<aside>
	<div class="panel radius">
		<h3>Blog del Portal de Biodiversidad</h3>
		<p>
			En esta página, dedicaremos un espacio para dar a conocer recursos acerca del Portal de Biodiversidad de Guatemala, así como actividades realizadas por la comunidad de curadores, investigadores y estudiantes dedicados a la preservación y desarrollo de las colecciones biológicas de nuestro país.

		</p>
	</div>

  <img class="b30" src="https://github.com/biodiversidadgt/docs/blob/gh-pages/images/LogoGitHub.jpg?raw=true" alt="">


	<div class="border-dotted radius b30">
		<img src="https://github.com/biodiversidadgt/docs/blob/gh-pages/images/SSHub_JPG.jpg?raw=true" alt="Symbiota">
		<p class="text-left">
			El Portal de Biodiversidad fue generado con <a href="http://symbiota.org/es/"> Symbiota</a>.
		</p>
	</div>
</aside>
